@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

body {
    background-color: #e5f7f5;
}

#parallax-container {
    background-color: #84ccc3;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arvo', serif;
}

span {
    font-weight: 700;
}

.parallax-element {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#gift {
    width: 100vw;
}

#snow1 {
    width: 100vw;
    margin-bottom: 0;
}

#snow2 {
    margin-bottom: 0;
    width: 100vw;
}

#snow3 {
    margin-bottom: 0;
    width: 100vw;
}

#noise {
    background: url(../img/noisy.png) repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
}

#header-text {
    left: 18%;
    top: 5%;
    text-align: center;
}

#header-text h2 {
    font-size: 3vw;
}

#header-text h1 {
    color: white;
    font-size: 3.5vw;
}

#header-button {
    margin-top: 2%;
    color: white;
    font-size: 2.5vw;
    display: inline-block;
    padding: 1vw;
    background-color: #FF934F;
    border: 2px solid #FF934F;
    cursor: pointer;
}

#header-button:hover {
    background-color: transparent;
    border: 2px solid white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sex {
    background-color: #8fc574;
    font-family: 'Arvo', serif;
    text-align: center;
    min-height: 100vh;
}

#sex img {
    margin: 0 auto;
}

#sex h1 {
    font-weight: 700;
    font-size: 3.5vw;
    color: #278e46;
}

#girl, #boy {
    width: 25vw;
    height: 25vw;
    background-size: cover;
    border-radius: 100%;
    margin: 9% auto 0;
    cursor: pointer;
}

#girl {
    background-image: url("../img/female.png");
    border: 0.5vw solid #3f826d;
}

#girl:hover {
    background-color: #d4c5e2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#boy {
    background-image: url("../img/male.png");
    border: 0.5vw solid #96d6eb;
}

#boy:hover {
    background-color: #51bcc3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#age {
    background-color: #8fc574;
    font-family: 'Arvo', serif;
    text-align: center;
    min-height: 100vh;
    display: none;
}

#age-text {
    font-weight: 700;
    font-size: 3.5vw;
    color: #278e46;
}

.age-images {
    width: 10vw;
    height: 10vw;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
}

#age-image h3 {
    color: #3B413C;
    font-family: 'Arvo', serif;
    font-size: 2vw;
}

#country {
    background-color: #8fc574;
    font-family: 'Arvo', serif;
    text-align: center;
    min-height: 100vh;
    display: none;
}

#country-text {
    font-weight: 700;
    font-size: 3.5vw;
    color: #278e46;
}

#ukraine, #russia {
    width: 25vw;
    height: 25vw;
    background-size: cover;
    border-radius: 100%;
    margin: 9% auto 0;
    cursor: pointer;
}

#ukraine {
    background-image: url("../img/ukr.png");
    border: 0.5vw solid #2fa251;
}

#ukraine:hover {
    background-color: #6db855;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#russia {
    background-image: url("../img/ru.png");
    border: 0.5vw solid #2fa251;
}

#russia:hover {
    background-color: #6db855;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}